.benefits {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  background-color: @grey;
}

.benefits__wrapper {
  .container();
  position: relative;
  height: 720px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.benefits__wrapper::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 0;
  width: 1200px;
  height: 94px;
  background: url("../img/bg-triangle-white.svg") no-repeat;
  // background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1200px" height="94.074px" viewBox="0 0 1200 94.074" enable-background="new 0 0 1200 94.074" xml:space="preserve"><polygon fill="#ffffff" points="1200,0 0,0 0,94.074 "/></svg>');
  background-repeat: no-repeat;
}

.benefits__title {
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: @blue;
  background-color: @white;
  text-align: center;
  box-sizing: border-box;
}

.benefits__title-question,
.benefits__title-answer {
  display: block;
  margin-bottom: 40px;
}

.benefits__item {
  width: 280px;
  text-align: center;
  background-color: @grey;
}

.benefits__item:nth-child(3) {
  position: relative;
  padding-bottom: 300px;
}

.benefits__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 160px;
  left: 67%;
  width: 157px;
  height: 320px;
  margin-left: -129px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center;
}

.benefits__item:last-child {
  display: none;
}

.benefits__item-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

@media @tablet-widths {

  .benefits__wrapper {
    height: 855px;
    padding-top: 35px;
    box-sizing: border-box;
  }

  .benefits__wrapper::before {
    content: "";
    position: absolute;
    top: -45px;
  }

  .benefits__title {
    width: 660px;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 55px;
  }

  .benefits__title-question {
    margin-bottom: 0;
  }

  .benefits__title-answer {
    width: 420px;
    margin: 0 auto;
  }

  .benefits__item {
    width: 620px;
    padding-left: 310px;
    padding-top: 0;
    box-sizing: border-box;
    text-align: left;
  }

  .benefits__item:nth-child(1) {
    padding-top: 15px;
  }

  .benefits__item:nth-child(3) {
    padding-bottom: 30px;
  }

  .benefits__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -330px;
    left: 130px;
    width: 268px;
    height: 481px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .benefits__item:last-child {
    position: relative;
    z-index: 1;
    display: block;
    width: 660px;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 330px;
    padding-right: 20px;
    background-color: @white;
  }

  .benefits__item:last-child::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 6px;
    width: 270px;
    height: 320px;
    // background: url("../img/icon-timer.svg") no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="235px" height="285px" viewBox="0 0 298 345.097" enable-background="new 0 0 298 345.097" xml:space="preserve" fill="#dedede"><path d="M264.568,102.055l5.355-5.355c7.717-7.717,9.124-18.938,3.126-24.935c-5.997-5.997-17.217-4.59-24.934,3.127l-5.386,5.385 C221.768,63.292,196.11,51.875,168,48.297v-9.583h7.658c10.914,0,19.843-8.711,19.843-19.357S186.573,0,175.659,0h-53.317  c-10.913,0-19.842,8.711-19.842,19.357s8.929,19.357,19.842,19.357H130v9.583C56.681,57.629,0,120.244,0,196.097  c0,82.291,66.709,149,149,149c82.29,0,149-66.709,149-149C298,160.434,285.465,127.703,264.568,102.055z M149,306.264 c-60.844,0-110.167-49.323-110.167-110.167S88.156,85.93,149,85.93c60.843,0,110.167,49.323,110.167,110.167  S209.843,306.264,149,306.264z"/><circle r="120" cx="149" cy="196" stroke="rgb(210, 40, 86)" stroke-width="17" fill="none" id="ring"></circle></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }

  .benefits__item:last-child::after {
    content: "24";
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 87px;
    width: 200px;
    height: 200px;
    font-style: normal;
    font-size: 96px;
    line-height: 150px;
    font-weight: 700px;
    color: @red;
  }

  .benefits__item-title {
    padding-top: 0;
  }

  .benefits__item:last-child .benefits__item-title {
    width: 170px;
    font-size: 30px;
    line-height: 36px;
  }

  .benefits__link {
    font-size: 14px;
    line-height: 24px;
    color: @red;
  }
}

@media @desktop-widths {

  .benefits__wrapper {
    width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
    height: 1035px;
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .benefits__wrapper::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -130px;
    width: 1400px;
    height: 294px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1400px" height="294.074px" viewBox="0 0 1200 94.074" enable-background="new 0 0 1200 94.074" xml:space="preserve"><polygon fill="#ffffff" points="1200,0 0,0 0,94.074 "/></svg>');
  }

  .benefits__title {
    width: 1200px;
    font-size: 50px;
    line-height: 60px;
    padding-top: 70px;
    padding-bottom: 75px;
    box-sizing: border-box;
  }

  .benefits__item {
    width: 240px;
    padding: 0;
    padding-top: 340px;
    padding-bottom: 30px;
    text-align: center;
    background-color: transparent;
  }

  .benefits__item:nth-child(1) {
    position: relative;
    padding-top: 340px;
    margin-left: 40px;
  }

  .benefits__item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .benefits__item:nth-child(3) {
    margin-right: 40px;
  }

  .benefits__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 105px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .benefits__item:nth-child(2) {
    position: relative;
  }

  .benefits__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .benefits__item:last-child {
    width: 940px;
    padding-left: 380px;
    padding-bottom: 115px;
    text-align: left;
    background-color: @grey;
  }

  .benefits__item:last-child::before {
    top: 4px;
    left: 0;
    width: 298px;
    height: 345.097px;
    // background: url("../img/icon-timer.svg") no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="298px" height="345.097px" viewBox="0 0 298 345.097" enable-background="new 0 0 298 345.097" xml:space="preserve" fill="#dedede"><path d="M264.568,102.055l5.355-5.355c7.717-7.717,9.124-18.938,3.126-24.935c-5.997-5.997-17.217-4.59-24.934,3.127l-5.386,5.385 C221.768,63.292,196.11,51.875,168,48.297v-9.583h7.658c10.914,0,19.843-8.711,19.843-19.357S186.573,0,175.659,0h-53.317  c-10.913,0-19.842,8.711-19.842,19.357s8.929,19.357,19.842,19.357H130v9.583C56.681,57.629,0,120.244,0,196.097  c0,82.291,66.709,149,149,149c82.29,0,149-66.709,149-149C298,160.434,285.465,127.703,264.568,102.055z M149,306.264 c-60.844,0-110.167-49.323-110.167-110.167S88.156,85.93,149,85.93c60.843,0,110.167,49.323,110.167,110.167  S209.843,306.264,149,306.264z"/><circle r="120" cx="149" cy="196" stroke="rgb(210, 40, 86)" stroke-width="17" fill="none" id="ring"></circle></svg>');
  }

  .benefits__item:last-child::after {
    top: 100px;
    left: 80px;
    width: 200px;
    height: 200px;
    font-size: 120px;
    line-height: 187px;
  }

  .benefits__item-title {
    font-size: 30px;
    line-height: 30px;
  }

  .benefits__item:last-child .benefits__item-title {
    width: 530px;
    line-height: 30px;
  }

  .benefits__item-descr {
    font-size: 18px;
    line-height: 30px;
  }

  .benefits__item:last-child .benefits__item-descr {
    display: block;
    width: 530px;
    margin: 25px 0;
  }

  .benefits__link {
    font-size: 18px;
    line-height: 30px;
  }
}
