.input {
  width: 280px;
  height: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid @darkgrey;
  border-radius: 5px;
}

.input::placeholder {
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @blue;
}

@media @tablet-widths {

  .input {
    position: relative;
    flex-grow: 1;
    width: 525px;
    margin: 0;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .input--long {
    width: 565px;
  }

  .input--short {
    width: 440px;
    margin: 0;
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 60px;
  }

}

@media @desktop-widths {

  .input {
    width: 335px;
  }

  .input--long {
    width: 375px;
  }

  .input--short {
    width: 315px;
    margin: 0;
    margin-left: 20px;
  }

  .input--right {
    margin-left: 120px;
  }

}
