// .range {
//   position: relative;
//   height: 100px;
// }

// .range--crop::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 50px;
//   height: 50px;
//   background: url("../img/icon-editor-crop.svg") no-repeat;
//   background-position: center;
// }

// .range--fill::before {
//   content: "";
//   position: absolute;
//   top: -50px;
//   left: 100px;
//   width: 50px;
//   height: 50px;
//   background: url("../img/icon-editor-fill.svg") no-repeat;
//   background-position: center;
// }

// .range--contrast::before {
//   content: "";
//   position: absolute;
//   top: -100px;;
//   left: 200px;
//   width: 50px;
//   height: 50px;
//   background: url("../img/icon-editor-contrast.svg") no-repeat;
//   background-position: center;
// }

// @media @tablet-widths {

//   .range {
//     display: block;
//     height: 70px;
//     padding-left: 55px;
//   }

//   .range--crop::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     background: url("../img/icon-editor-crop.svg") no-repeat;
//     background-position: center;
//   }

//   .range--fill::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     background: url("../img/icon-editor-fill.svg") no-repeat;
//     background-position: center;
//   }

//   .range--contrast::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     background: url("../img/icon-editor-contrast.svg") no-repeat;
//     background-position: center;
//   }
// }

// @media @desktop-widths {

//   .range {
//     width: 100%;
//   }
// }

.range {
  position: relative;
  height: 100px;
}

.range--crop::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: url("../img/icon-editor-crop.svg") no-repeat;
  background-position: center;
}

.range--fill::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 110px;
  width: 50px;
  height: 50px;
  background: url("../img/icon-editor-fill.svg") no-repeat;
  background-position: center;
}

.range--contrast::before {
  content: "";
  position: absolute;
  top: -110px;;
  left: 190px;
  width: 50px;
  height: 50px;
  background: url("../img/icon-editor-contrast.svg") no-repeat;
  background-position: center;
}

.range__scale {
  display: none;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: @blue;
}

.range__scale::before {
  content: "";
  position: absolute;
  top: 160px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: @darkgrey;
}

.range__toggle {
  display: none;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  margin-left: 210px;
  border: 2px solid @red;
  border-radius: 50%;
  background-color: @grey;
  box-sizing: border-box;
}

.range__scale--active {
  display: block;
  margin-top: 120px;
}

.range__toggle--active {
  display: block;
}

@media @tablet-widths {

  .range {
    display: block;
    height: 70px;
    padding-left: 55px;
  }

  .range--crop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path fill="none" d="M0,0h48v48H0V0z"/><path fill="rgb(210, 40, 86)" d="M34,30h4V14c0-2.21-1.79-4-4-4H18v4h16V30z M14,34V2h-4v8H2v4h8v20c0,2.21,1.79,4,4,4h20v8h4v-8h8v-4H14z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.range--fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path fill="none" d="M0,0h48v48H0V0z"/><path fill="rgb(210, 40, 86)" d="M33.12,17.88L15.24,0l-2.83,2.83l4.76,4.76L6.88,17.88c-1.17,1.17-1.17,3.07,0,4.24l11,11C18.46,33.71,19.23,34,20,34 s1.54-0.29,2.12-0.88l11-11C34.29,20.95,34.29,19.05,33.12,17.88z M10.41,20L20,10.42L29.59,20H10.41z M38,23c0,0-4,4.33-4,7 c0,2.21,1.79,4,4,4s4-1.79,4-4C42,27.33,38,23,38,23z"/><rect fill="rgb(210, 40, 86)" y="40" width="48" height="3"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.range--contrast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="-35.422 -7.96 31.92 31.92" enable-background="new -35.422 -7.96 31.92 31.92" xml:space="preserve"><path fill="rgb(210, 40, 86)" d="M-19.462-3.96c6.595,0,11.96,5.365,11.96,11.96s-5.365,11.96-11.96,11.96S-31.422,14.595-31.422,8 S-26.057-3.96-19.462-3.96 M-19.462-7.96c-8.814,0-15.96,7.145-15.96,15.96c0,8.813,7.146,15.96,15.96,15.96S-3.502,16.813-3.502,8 C-3.502-0.815-10.648-7.96-19.462-7.96L-19.462-7.96z"/><path fill="rgb(210, 40, 86)" d="M-19.462,16.331c4.706,0,8.52-3.813,8.52-8.52c0-4.705-3.813-8.519-8.52-8.519"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.range__scale {
  display: block;
  width: 200px;
  margin-top: 25px;
}

.range__scale::before {
  top: 65px;
  left: 22px;
  width: 275px;
}

.range__toggle {
  display: block;
}

.range__toggle--active {
  margin-left: 170px;
}

.range__toggle--medium {
  margin-left: 50px;
}

.range__toggle--bottom {
  margin-left: 120px;
}

}

@media @desktop-widths {

  .range {
    width: 100%;
  }

  .range--fill {
    margin-top: -60px;
  }

  .range--contrast {
    margin-top: -65px;
  }

  .range--crop::before {
    left: 0;
    background: url("../img/icon-editor-crop.svg") no-repeat;
  }

  .range--fill::before {
    left: 0;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path fill="none" d="M0,0h48v48H0V0z"/><path fill="rgb(210, 40, 86)" d="M33.12,17.88L15.24,0l-2.83,2.83l4.76,4.76L6.88,17.88c-1.17,1.17-1.17,3.07,0,4.24l11,11C18.46,33.71,19.23,34,20,34 s1.54-0.29,2.12-0.88l11-11C34.29,20.95,34.29,19.05,33.12,17.88z M10.41,20L20,10.42L29.59,20H10.41z M38,23c0,0-4,4.33-4,7 c0,2.21,1.79,4,4,4s4-1.79,4-4C42,27.33,38,23,38,23z"/><rect fill="rgb(210, 40, 86)" y="40" width="48" height="3"/></svg>');
  }

  .range--contrast::before {
    left: 0;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="-35.422 -7.96 31.92 31.92" enable-background="new -35.422 -7.96 31.92 31.92" xml:space="preserve"><path fill="rgb(210, 40, 86)" d="M-19.462-3.96c6.595,0,11.96,5.365,11.96,11.96s-5.365,11.96-11.96,11.96S-31.422,14.595-31.422,8 S-26.057-3.96-19.462-3.96 M-19.462-7.96c-8.814,0-15.96,7.145-15.96,15.96c0,8.813,7.146,15.96,15.96,15.96S-3.502,16.813-3.502,8 C-3.502-0.815-10.648-7.96-19.462-7.96L-19.462-7.96z"/><path fill="rgb(210, 40, 86)" d="M-19.462,16.331c4.706,0,8.52-3.813,8.52-8.52c0-4.705-3.813-8.519-8.52-8.519"/></svg>');
  }

  .range__scale {
    width: 295px;
  }

  .range__scale::before {
    left: 0;
    width: 410px;
  }

  .range__toggle--active {
    margin-left: 110px;
  }

  .range__toggle--medium {
    margin-left: 280px;
  }

  .range__toggle--bottom {
    margin-left: 190px;
  }
}
